.header_main_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 15rem;
  border-bottom: 1px solid #dddddd;
}
.header_main_wrapper figure img {
  width: 8rem;
  height: auto;
}
.header_main_wrapper .header_act_btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header_main_wrapper .header_act_btn .signup_btn {
  border: 1px solid #8e00fe !important;
}
.header_main_wrapper .header_act_btn_loggedin {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  position: relative;
}
.header_main_wrapper .header_act_btn_loggedin figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.header_main_wrapper .header_act_btn_loggedin figure span {
  font-size: 1rem;
  color: #8e00fe;
  font-weight: 400;
}
.header_main_wrapper .header_act_btn_loggedin svg {
  width: 2.5rem;
  height: 2.5rem;
}
.header_main_wrapper .header_act_btn_loggedin svg:hover {
  transform: translateY(-0.1rem);
  transition: transform 300ms ease-in-out;
}
.header_main_wrapper .header_act_btn_loggedin img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.header_main_wrapper .header_act_btn_loggedin .profile_drop_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 4.5rem;
  right: 0;
  position: absolute;
  background: white;
  padding: 1.5rem;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  transform-origin: top right;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.header_main_wrapper .header_act_btn_loggedin .profile_drop_wrapper span {
  padding: 1rem 4rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}
.header_main_wrapper .header_act_btn_loggedin .profile_drop_wrapper span:hover {
  transform: translateY(-0.1rem);
  transition: transform 300ms ease-in-out;
}
.header_main_wrapper .header_act_btn_loggedin .profile_drop_wrapper svg {
  width: 1.8rem;
  height: 1.8rem;
}
span:first-child .header_main_wrapper .header_act_btn_loggedin .profile_drop_wrapper span:nth-child(2) {
  border-bottom: 0.41px solid #f1f1f1;
}
.header_main_wrapper .header_search {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 1.8rem;
  width: 30rem;
}
.header_main_wrapper .header_search:has(input:focus) img {
  display: none;
  visibility: hidden;
}
.header_main_wrapper .header_search input:not([value=""]):not(:focus):invalid img {
  display: none;
  visibility: hidden;
}
.header_main_wrapper .header_search input {
  border-style: none;
  box-shadow: none;
  background: rgba(230, 233, 244, 0.42);
}
.header_main_wrapper .header_search input::-moz-placeholder {
  padding-left: 2rem !important;
}
.header_main_wrapper .header_search input:-ms-input-placeholder {
  padding-left: 2rem !important;
}
.header_main_wrapper .header_search input::placeholder {
  padding-left: 2rem !important;
}
.header_main_wrapper .header_search img {
  position: absolute;
  width: 1.3rem;
  bottom: 0.5rem;
  left: 1rem;
}

.profile_drop_show {
  transform: scale(1) !important;
}/*# sourceMappingURL=style.module.css.map */