.header_main_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 15rem;
  border-bottom: 1px solid #dddddd;

  figure img {
    width: 8rem;
    height: auto;
  }

  .header_act_btn {
    display: flex;
    align-items: center;
    gap: 1rem;

    .signup_btn {
      border: 1px solid #8e00fe !important;
    }
  }

  .header_act_btn_loggedin {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    position: relative;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;

      span {
        font-size: 1rem;
        color: #8e00fe;
        font-weight: 400;
      }
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    svg:hover {
      -webkit-transform: translateY(-0.1rem);
      transform: translateY(-0.1rem);
      transition: transform 300ms ease-in-out;
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }

    .profile_drop_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      top: 4.5rem;
      right: 0;
      position: absolute;
      background: white;
      padding: 1.5rem;
      transform: scale(0);
      transition: all 0.3s ease-in-out;
      transform-origin: top right;
      box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
      border-radius: 0.3rem;

      span {
        padding: 1rem 4rem 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        color: black !important;
        font-size: 1.4rem;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          transform: translateY(-0.1rem);
          transition: transform 300ms ease-in-out;
        }
        // background-color: red;
      }

      svg {
        width: 1.8rem;
        height: 1.8rem;
      }

      span:first-child & span:nth-child(2) {
        border-bottom: 0.41px solid #f1f1f1;
      }
    }
  }

  .header_search {
    position: relative;
    display: flex;
    align-items: center;
    // background: rgba(230, 233, 244, 0.42);
    border-radius: 1.8rem;
    // z-index: 1;
    width: 30rem;

    &:has(input:focus) {
      img {
        display: none;
        visibility: hidden;
      }
    }

    input:not([value='']):not(:focus):invalid {
      img {
        display: none;
        visibility: hidden;
      }
    }

    input {
      border-style: none;
      box-shadow: none;
      background: rgba(230, 233, 244, 0.42);
      &::placeholder {
        padding-left: 2rem !important;
      }
    }

    img {
      position: absolute;
      width: 1.3rem;
      bottom: 0.5rem;
      left: 1rem;
    }
  }
}

.profile_drop_show {
  transform: scale(1) !important;
}
