.header_main_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 15rem;
  border-bottom: 1px solid #dddddd;

  figure img {
    width: 8rem;
    height: auto;
  }

  .header_act_btn {
    display: flex;
    align-items: center;
    gap: 1rem;

    .signup_btn {
      border: 1px solid #8e00fe !important;
    }
  }

  .header_act_btn_loggedin {
    display: flex;
    align-items: center;
    gap: 4.5rem;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;
      


      span {
        font-size: 1rem;
        color: #8E00FE;
        font-weight: 400;
      }
    }

   svg{
    width: 2.5rem;
    height: 2.5rem;
   }

   svg:hover{
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
   }

   img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
   }
  }


  .header_search {
    position: relative;
    display: flex;
    align-items: center;
    // background: rgba(230, 233, 244, 0.42);
    border-radius: 1.8rem;
    // z-index: 1;
    width: 30rem;

    &:has(input:focus) {
      img {
        display: none;
        visibility: hidden;
      }
    }

    input:not([value='']):not(:focus):invalid {
      img {
        display: none;
        visibility: hidden;
      }
    }

    input {
      border-style: none;
      box-shadow: none;
      background: rgba(230, 233, 244, 0.42);
      &::placeholder {
        padding-left: 2rem !important;
      }
    }

    img {
      position: absolute;
      width: 1.3rem;
      bottom: 1.1rem;
      left: 1rem;
    }
  }
}
