.btn {
    background-color: #8E00FE;
    color: white;
    /* padding: 21px 128px; */
    /* width: 24px;
      height: 62px; */
    gap: 1rem;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    border-radius: 1rem;
    align-items: center;
    flex-wrap: none;
    font-weight: 700;
    line-height: 2rem;
    font-style: normal;
    letter-spacing: -0.01em;
    font-size: 1.4rem;
    border-width: 0px;
    cursor: pointer;
  }
  
  .button-secondary {
    background: #f7f8f7 ;
    border-radius: 6.4rem;
    color: black;
  }
  
  .btn_label {
    font-weight: 500;
  }
  
  a {
    color: white;
    text-decoration: none; /* no underline */
  }
  
  .btn div {
    white-space: nowrap;
  }
  
  .btn:disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
  
  .btn_disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgb(229, 229, 229) !important;
  }
  
  .button-tertiary {
    /* background: rgba(255, 255, 255, 0) !important; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 20px; */
    /* gap: 10px; */
    color: black;
  }
  
  .button-tertiary div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .icon {
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    height: min-content;

    img {
     width: 3rem;
     height: fit-content;
    }
  }
  
  
  button:hover {
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
  }
  