@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");
:root {
  --lykluk-purple: #8e00fe;
  --white-color: #ffffff;
  --box-shadow: 0.1rem 0.1rem 8rem 0.1rem rgba(0, 0, 0, 0.05);
}

/* * {
  font-family: 'Rubik', sans-serif;
  font-family: 'Libre Baskerville', serif;
} */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
body {
  /* -webkit-perspective: 5000;
      perspective: 5000; */
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.5rem;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  transition: background 0.3s ease-in-out;
  width: 100vw;
  letter-spacing: -0.03rem;
  color: var(--lykluk-black-color);
}

body::-webkit-scrollbar:horizontal {
  display: none;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background: var(--lykluk-black-color);
  border-radius: 30rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--lykluk-black-color);
}

.modal-parent > div > div > div:nth-child(2) {
  -webkit-backdrop-filter: blur(0.3rem);
  backdrop-filter: blur(0.3rem);
  z-index: 2000 !important;
}

.modal-parent > div > div > div > * > * {
  border-radius: 1.6rem;
}

.modal-parent > div > div > *:first-child {
  border-radius: 1.6rem !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-group-password input:-webkit-autofill,
.input-group-password input:-webkit-autofill:hover,
.input-group-password input:-webkit-autofill:focus,
.input-group-password input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.img-box {
  width: 2rem;
  height: 2rem;
}

.img-box .img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
} 
.input-contain div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.04em;
}

input {
  outline: none;
}

input[type=password]::-webkit-autofill,
input[type=password]::-webkit-autofill:hover,
input[type=password]::-webkit-autofill:focus,
input[type=password]::-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=text]:focus {
  box-shadow: 0px 0px 0px 3px rgba(233, 233, 233, 0.5);
}

input[type=email]:focus {
  box-shadow: 0px 0px 0px 3px rgba(233, 233, 233, 0.5);
}

.select-react {
  width: 100%;
  box-shadow: none !important;
}

.select-react input:focus {
  box-shadow: none;
}

.select-react > * {
  text-align: left;
}

.select-react > *:nth-child(3) {
  border: 0.1rem solid #cccccc;
  box-shadow: none !important;
  padding: 0.3rem 1.2rem;
  border-radius: 1rem;
}

.pagination-bar {
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-top: 2rem;
  justify-content: flex-end;
}

.luk_player {
  border-radius: 10px;
  overflow: hidden;
  /* background-color: yellow; */
  padding: 3rem;
}

.vjs-control-bar {
  background-color: transparent !important;
}

/* .mobile-only {
  display: none;
  visibility: hidden;
} */
/* Declare desktop only screens - Mobile Queries */
@media only screen and (min-width: 320px) {
  /* .desktop-only {
    display: none !important;
    visibility: hidden !important;
  } */
  /* .mobile-only {
    visibility: visible;
    display: flex;
  } */
}
/* Declare mobile only screens - Desktop Queries */
@media only screen and (min-width: 42em) {
  .mobile-only {
    display: none;
  }
}
/* Declare mobile only screens - Desktop Queries */
@media only screen and (max-width: 42em) {
  .desktop-only {
    display: none;
  }
}
/* Declare Tablet media queries */
@media only screen and (min-width: 600px) {
  /* .mobile-only {
    visibility: visible;
    display: flex;
  } */
}/*# sourceMappingURL=globals.css.map */