.main_leftside_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 3rem;
  overflow: auto;
  margin-left: 5%;
  margin-top: 1rem;
  padding-bottom: 5%;
  width: 25%;
  height: 100%;

  h3 {
    font-size: 1.4rem;
    color: #333333;
    font-weight: 400;
  }

  .left_quick_actions {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    gap: 3rem;

    > .item {
      display: flex;
      gap: 1rem;
      align-items: center;

      figure svg {
        width: 3rem;
      }
    }
  }

  .dont_have_an_account {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    align-items: flex-start;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    justify-content: flex-start;

    span {
      color: #bcb7b7;
      font-size: 1.6rem;
    }

    .signup_btn {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.81) 0%,
        #8e00fe 101.93%
      ) !important;
    }
  }

  .popular_accounts_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // overflow: hidden;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;

    //   height: 25rem;
    .popular_accounts {
      // overflow-y: auto;

      .accounts_wrapper {
        display: flex;
        // overflow-y: scroll;
        height: fit-content;
        flex-direction: column;
        gap: 1.5rem;

        .accounts {
          display: flex;
          justify-content: space-between;

          .user {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            figure img {
              width: 3.5rem;
              height: 3.5rem;
              border-radius: 50%;
            }

            .user_info {
              display: flex;
              flex-direction: column;
              text-align: start;
              align-items: flex-start;

              span:first-child {
                display: flex;
                text-align: start;
                gap: 0.3rem;
                padding: 0;
                margin: 0;
                font-size: 1.4rem;
                align-items: center;
                justify-content: center;

                figure {
                  display: grid;
                  place-items: center;
                  width: fit-content;
                  height: fit-content;

                  svg {
                    width: fit-content;
                    height: fit-content;
                  }
                }
              }

              span:last-child {
                font-size: 1.2rem;
                color: #717171;
              }
            }
          }
        }
      }
    }
  }

  .trending_hashtags {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .hashtags_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      span {
        display: flex;
        flex-basis: 20%;
        justify-content: center;
        padding: 0.5rem;
        color: #797979;
        font-size: 1.2rem;
        align-items: center;
        border: 0.05rem solid #a2a2a2;
        border-radius: 1.2rem;
      }
    }
  }

  a {
    color: #8e00fe;
  }
}
