.main_profile_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding:  auto 2.5rem;
    padding-bottom: 10rem;
    margin-top: 2rem;
    width: 50%;
    align-content: center;
    
  }
  .top_section {
    width: 50%;
    margin: 1px auto;
  }
  .first_div{
    display:flex;
    justify-content: space-between;
    margin: 1rem auto;
  }
  .profile_pic_div{
    display:flex;
    justify-content: center;
    margin: 1rem auto;
  }
  .profile_username{
    color: #141822;
    text-align: center;
    margin: 1.5rem;
  }
  .bio_div{
    background-color:  rgba(196, 196, 196, 0.12);
    width: 100%;
    color:rgba(20, 24, 34, 0.9);
    text-align: center;
    padding: 0.5rem;
    margin: rem auto;
    border-radius: 10px;
  }
  .bio_div .header {
    font-weight: 600;
  }
  .bio_div .text {
    font-weight: 300;
    font-size: 12px;
  }
  .profile_stats_div{
    background-color:  rgba(196, 196, 196, 0.12);
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
  }
  .profile_stats_div .section{
    display: flex;
    flex-direction: column;
  }
  .profile_stats_div .section .number{
    display: flex;
    flex-direction: column;
    color: rgba(142, 0, 254, 1);
    font-weight: 600;
    text-align: center;
  }
  .profile_stats_div .section .text{
    display: flex;
    flex-direction: column;
    font-weight: 300px;
    text-align: center;
  }
  .post_switch_div{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
  }
  .post_switch_div .posts{
    flex: 50%;
    padding: 1.5rem;
  }
  .post_switch_div .posts .icon{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .post_switch_div .hidden{
    flex: 50%;
    padding: 1.5rem;
    
  }
  .post_switch_div .hidden .icon{
    display: flex;
    justify-content: center;
  }
  .posts_div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    margin: 1rem auto;
  }
  .post_div .video{
    width:33%;
  }
