.settings_main_wrapper {
  // display: flex;
  // padding: 3rem 12rem;
  // background-color: rgba(250, 250, 250, 1);
  // overflow: auto !important;
  // min-height: 100vh;
  // overflow: scroll;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 3rem 12rem;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  background: rgba(250, 250, 250, 1);
  .left_section {
    flex: 35%;
  }
  .right_section {
    flex: 65%;
  }
}
