.container {
  position: relative;
  padding-top: 2rem;
}
.input_icon {
  position: absolute;
  right: 0.8rem;
  width: 21px;
  top: 50%;
  transform: translateY(-50%);
}
.input_field {
  width: 100%;
  border: 1px solid red;
  padding: 16px;
  border-radius: 3px;
  outline: none;
}
