.outer_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;

  width: 80%;
  height: 85vh;
}

.inner_div {
  padding: 3rem;
  width: 80%;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  overflow: scroll;
  border-radius: 20px;
  height: 85vh;
  margin: 2rem auto;
}

@media only screen and (max-width: 640px) {
  .inner_div {
    width: 90%;
  }
}
@media only screen and (max-width: 390px) {
  .inner_div {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .outer_div {
    width: 90%;
  }
}
