.section_heading {
  color: rgba(142, 0, 254, 1);
  margin-bottom: 1rem;
}
.link_div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  cursor: pointer;
}
.link_div:hover {
  color: rgba(142, 0, 254, 1);
}
.link_div .left h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

/* .input_field_div {
  margin-bottom: 4rem;
}
.input_field_div .label {
  margin-bottom: 2rem;
}
.horizontal_rule {
  border-top: 1px solid rgba(238, 238, 238, 1);
  margin-bottom: 3rem;
}
.button_div {
  margin-bottom: 4rem;
}
.bottom_section {
  display: flex;
  align-items: center;
}
.bottom_section .left {
  flex: 50%;
}
.bottom_section .right {
  flex: 50%;
  text-align: center;
} */
