*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font-family: "Rubik", sans-serif;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
       appearance: none;
  font: muli;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15rem solid currentColor;
  border-radius: 0.15rem;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clipPath: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
  background-color: var(--lykluk-black);
}

input[type=checkbox]:checked {
  background-color: var(--lykluk-black);
  /* color: white */
}

input[type=checkbox]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--lykluk-mercury);
  cursor: not-allowed;
}

input[type=text] {
  padding: 1rem;
  border: 0.5px solid #cccccc;
  border-radius: 12px;
  width: 100%;
}

input[type=date] {
  padding: 1rem;
  border: 0.5px solid #cccccc;
  border-radius: 12px;
  width: 100%;
}

input[type=password] {
  padding: 1rem;
  border: 0.5px solid #cccccc;
  border-radius: 12px;
  width: 100%;
}

.input[type=text]:focus {
  border: 1px solid #020202;
}

input[type=number] {
  padding: 1rem;
  border: 0.5px solid #cccccc;
  border-radius: 12px;
  width: 100%;
}

.input[type=number]:focus {
  border: 1px solid #020202;
}

/* begin select input type reset and styling */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  padding: 16px;
}

select::-ms-expand {
  display: none;
}

.select {
  /* width: 16%; */
  /* min-width: 10ch; */
  /* border: 1px solid var(--lykluk-mercury); */
  border-radius: 12px;
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;
  line-height: 1.1;
  background-color: #fff;
  /* grid-template-areas: "select"; */
}

.select select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--lykluk-black);
  clipPath: polygon(100% 0%, 0 0%, 50% 100%);
}

.select select:after {
  /* grid-area: select; */
}

.select select:focus {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid var(--lykluk-black);
  border-radius: inherit;
}

.select:not(.select--multiple)::after select[multiple] {
  height: 6rem;
  padding-right: 0;
}

select[multiple] option {
  white-space: normal;
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

label {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: -0.04em;
  color: #000000;
  line-height: 1.1;
  /* align-items: center; */
  /* justify-content: center; */
  margin-right: 1rem;
}

input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--lykluk-black);
}

input[type=radio]:checked::before {
  transform: scale(1);
}

textarea {
  background: #ffffff;
  border: 0.5px solid #cccccc;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
}

textarea:focus {
  border: 1px solid var(--lykluk-black);
}

input[type=date] {
  font-family: inherit;
  font: inherit;
  font-size: 12px;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--lykluk-black);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  /*custom styles*/
  width: 28.55px;
  height: 16.65px;
  background: rgb(250, 245, 245);
  border: 1.18947px solid #f7f8f7;
  box-shadow: 0px 1.18947px 4.75789px rgba(0, 0, 0, 0.14);
  border-radius: 66.6105px;
}

input[type=range]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 1px solid #053a5f;
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type=range]::-moz-range-track {
  background-color: var(--lykluk-black);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type=range]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type=range]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 1px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type=range] {
  width: 100%;
  margin-top: 1rem;
}

input[type=password]::-webkit-autofill,
input[type=password]::-webkit-autofill:hover,
input[type=password]::-webkit-autofill:focus,
input[type=password]::-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}/*# sourceMappingURL=reset.css.map */